* {
    border: 0px;
    margin: 0px;
    background: rgb(235, 235, 235);
}

#page{
    max-width: 1140px;
    margin:50px auto 0px auto;

    
}


.content {
    display: flex;
    gap: 50px;
}

.content {
    margin-top: 25px;
    
}